@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elektronische componenten</h1>
    
</div>

<div class="row">
    <div>
        <h2>Hoe navigeren?</h2>
        <p>
            Klik op "Overzicht componenten" hierboven om naar een overzicht van de componenten te gaan. Je kan er hier ook toevoegen en verwijderen!
        </p>
        <p> Om stockitems te bewerken, toe te voegen of te verwijderen moet je ingelogd zijn.</p>
    </div>
</div>